<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comic.dao.INewsMasterDao">
    <insert id="addNews" parameterType="com.comic.mould.NewsInfo">
        insert into newsInfo values (null ,#{title},#{author},#{type},#{content1},#{content2},#{origin},#{tags},#{img},#{date});
    </insert>
    <select id="findAll" resultType="com.comic.mould.NewsInfo">
        select * from newsInfo
    </select>
    <select id="findById" parameterType="java.lang.Integer" resultType="com.comic.mould.NewsInfo">
        select * from newsInfo where id = #{id};
    </select>
    <update id="update" parameterType="com.comic.mould.NewsInfo">
        update newsInfo set title = #{title} ,author = #{author},type=#{type}, content1 = #{content1}, content2 = #{content2},origin = #{origin},tags = #{tags},img = #{img},date = #{date} where id = #{id};
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from  newsInfo where id = #{id};
    </delete>
</mapper>